.places {
  margin: 0 auto;
  padding: 92px 0 92px 0;
}

@media screen and (max-width:1024px) {
  .places {
    max-width: 928px;
    padding-left: 48px;
    margin: 0;
    padding: 92px 48px 92px 48px;
  }
}

@media screen and (max-width:768px) {
  .places{
  max-width: 720px;
  padding: 88px 24px 90px 24px;
  }
}

@media screen and (max-width:320px) {
  .places{
    max-width: 320px;
    padding: 64px 0 66px 0;
    }
}
