.place__url-heading {
  margin:0 0 12px 0;
  color: #AAAAAA;
  line-height: 12px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  }

  .place__url-heading:hover {
    opacity: .8;
  }
